

.CheckoutForm {
  width: 500px;
  border-bottom: 5px solid rgba(242, 242, 242, 1);
  color: #04253f;
  height: 100%;
}

.CheckoutForm > section {
  border-top: 5px solid rgba(242, 242, 242, 1);
  padding: 20px 0;
  text-align: left;
} 

.CheckoutForm  h4 {
  font-weight: 300;
  font-size: 30px;
}

.IdentifyCustomer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.IdentifyCustomerForm{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.IdentifyCustomerForm label  {
  margin-bottom: 5px;
  font-size: 14px;
}

.IdentifyCustomerForm input {
  padding: 10px 0;
  width: 60%;
  padding-left: 10px;
  box-sizing: border-box;
  border-color: inherit !important;
}

.IdentifyCustomer p {
  align-self: center;
  padding-right: 100px;
}

.Billing, .Shipping, .Payment {
  cursor: pointer;
}

.CheckoutForm input {
  border: 1px solid #04253f;
}

.CheckoutForm .BillingShippingSame input {
  display: inline-block;
  width: auto;
  padding: 0;
  margin-right: 10px;
}

.BillingShippingSame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.InvalidInput {
  border-color: crimson !important;
  color: crimson !important;
}

@media(max-width: 500px) {
  .CheckoutForm {
    width: 100%;
  }

  .IdentifyCustomer p  {
    padding: 0;
  }

  .CheckoutForm section > * {
    margin-right: 10px;
    margin-left: 10px;
  }

}