

.ProductListHeader {
  color: #00263e;
  font-size: 26px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.ProductList {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}





