.PromotionContainer, .NewArrivalsContainer, .FeaturedContainer {
  margin: 40px 0;
}

.SectionTitle {
  padding: 20px 0;
  font-size: 18px;
}

.CategorySlider {
  width: 80%;
}

@media(max-width: 800px) {

  .PromotionContainer, .NewArrivalsContainer, .FeaturedContainer {
    margin: 20px 0;
  }

}







