.ProductPageDetails, .ProductPageProfile {
  width: 45%;
  text-align: left;
}

.ProductPageProfile {
  max-width: 350px;
  margin: 10px auto;

}

.ProductPageDescriptionTitle, .ProductPageSpecTitle {
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid #04253f;
  background-color: rgba(242, 242, 242, 1);
  margin-bottom: 10px;
  color: #b09a51;
}

.ProductPageDescription {
  padding-left: 15px;
  color: #04253f;
}

@media(max-width: 800px) {

  .ProductPageDescriptionTitle, .ProductPageSpecTitle {
    padding: 5px;
    font-size: 16px;
  }

  .ProductPageDescription {
    font-size: 14px; 
  }

}

@media(max-width: 500px) {
  .ProductPageDescription {
    padding: 10px 30px;
  }
  
  .ProductPageDescriptionTitle, .ProductPageSpecTitle {
    text-align: center;
  }
}