.FrontPicture {
  position: relative;
  height: 100%;
  width: auto;
  display: block;
}

.CoffeeTypesDouble {
  display: flex;
  justify-content: space-around;
}

.CoffeeTypesSingle {
  text-align: center;
}

.BottomCoffeeImg {
  margin-top: 30px;
  width: 80%;
}



.FrontSamplesTitle {
  padding: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 400;
}

.FrontSamplesList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #00263e;
  border-top: 1px solid #00263e;
  padding: 50px 0;
  box-sizing: border-box;
}

.FrontSamplesList li {
  width: 250px;
}

