.FrontPicture {
  position: relative;
  height: 100%;
  width: auto;
  display: block;
}

.CoffeeTypesDouble {
  display: flex;
  justify-content: space-around;
}

.CoffeeTypesSingle {
  text-align: center;
}

.BottomCoffeeImg {
  margin-top: 30px;
  width: 80%;
}



.FrontSamplesTitle {
  padding: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 400;
}

.FrontSamplesList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #00263e;
  border-top: 1px solid #00263e;
  padding: 50px 0;
  box-sizing: border-box;
}

.FrontSamplesList li {
  width: 250px;
}

aside {
  height: 135px;
  background-color: #04253f;
  color: #fff;
  display: flex;
  justify-content: center;
}

.emailSubscription {
  height: 100%;
  width: 50%;
  max-width: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.emailSubscription button {
  border: none;
  background-color: #04253f;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
}

.emailSubscription input {
  color: #fff;
  width: 100%;
  outline:none;
  background-color: #04253f;
  border:none;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  font-size: 16px;
}

.emailSubscription input::placeholder {
  color: #fff;
  opacity: 1;
  text-align: center;
}

.emailSubscription input:-ms-input-placeholder {
  color: #fff;
  text-align: center;

}

.emailSubscription input::-ms-input-placeholder {
  color: #fff;
  text-align: center;
}