.ProductPageTitle {
  font-size: 24px;
  margin: 20px 0;
  font-weight: bold;
}

.ProductPageRating {
  color: #04253f;
}

.ProductPageSubtitle {
  margin-bottom: 5px;
}

.ProductPageRating i {
  margin-bottom: 5px;
}

.ProductPagePrice {
  margin-bottom: 5px;
}

.ProductPageProfile {
  text-align: left;
}

.ProductPageDetails div {
  margin-bottom: 30px;
}

.SubtractQuantity, .AddQuantity {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  font-size: 20px;
  border: 1px solid #04253f;
}

.SubtractQuantity {
  margin-right: 5px;
}

.AddQuantity {
  margin-left: 5px;
}

.ProductPageQuantity {
  width: 40px;
  height: 50px;
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}

.InputQuantity::-webkit-inner-spin-button, .InputQuantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.SubmitItem {
  display: block;
  height: 40px;
  width: 180px;
  border: 1px solid #00263e;
  text-transform: uppercase;
  font-size: 14px;
  margin: 10px auto 0 auto;
}

.SubmitItem span {
  margin-right: 10px;
}

.ProductPageSpecList {
  list-style-type: disc;
  padding-left: 40px;
  color: #04253f;
}

.ProductPageForm {
  text-align: center;
}

@media(max-width: 800px) {

  .ProductPageDetails div {
    margin-bottom: 20px;
  }

  .ProductPageSpecList li {
    font-size: 14px;
  }

  .ProductPageTitle {
    font-size: 18px;
    margin: 10px 0;
  }

  .ProductPageSubtitle {
    font-size: 14px;
  }

  .SubtractQuantity, .AddQuantity {
    width: 25px;
    height: 25px;
    font-size: 16px;
  }

  .ProductPageQuantity {
    width: 25px;
    height: 25px;
    font-size: 20px;
  }

  .SubmitItem {
    font-size: 12px;
    width: 150px;
  }

}

@media(max-width: 500px) {

  .ProductPageDetails, .ProductPageProfile {
    width: 100% !important;
  }

  .ProductPageProfile {
    margin-bottom: 20px;
  }

  .ProductPageTitle {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .ProductPageRating {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    margin-top: 10px;
  }

  .ProductPageSubtitle, .ProductPagePrice {
    text-align: center;
  }

  .ProductPageSpecList {
    padding: 20px 40px 0 50px;
  }


}