main {
  padding-top: 165px;
  min-height: auto;
  position: relative;
  padding-bottom: 50px;
  max-width: 1300px;
  margin: auto;
  text-align: center;
}

@media(max-width: 800px) {

  main {
    padding-top: 100px;
  }

}

@media(max-width: 500px) {

  main {
    padding-top: 80px;
  }

}
