.ProductPageText {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.ProductPageImages img {
  width: 80%;
  max-width: 250px;
}

@media(max-width: 500px) {
  .ProductPageText {
    flex-direction: column-reverse;
  }

}