

.PageHeader {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.TopHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  padding: 20px 0;
}


.NavLink:hover .HoverNavContainer {
  display: block;
}

.NavLink a {
  text-decoration: none;
  color: #a7896f;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  border-top: 1px solid #a7896f;
  width: 100%;
}

.HeaderContainer {
  background-color: #fff;
  color: #a98a70;
  border-bottom: 1px solid #a7896f;
  width: 100%;
  margin: auto;
  height: 100%;
}

.NavLinks {
  display: flex;
  flex-direction: row;
}

.NavLinks li {
  margin: 15px;
  letter-spacing: 1.5px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
}

.Logo, .Logo a {
  font-size: 36px;
  margin-right: 50px;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
  color: #a7896f;
}

.UserOptions {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 20px;
  right: 20px;
}

.UserOptions > div {
  margin-right: 20px;
}

.Search {
  font-size: 20px;
}

.Search input {
  border: none;
  border-bottom: 1px solid #a7896f;
  width: 200px;
  height: 20px;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.ShoppingCart {
  font-size: 20px;
}

.ShoppingCart a {
  color: #a98a70;
  text-decoration: none;
}

.UserAccount {
  font-size: 20px;
}

.UserAccount span {
  margin-left: 5px;
}

.ShoppingCartSummary {
  display: none; 
}

.Logo span {
  margin-left: 10px;
}

.SearchBoxContainer {
  border-bottom: 1px solid #a98a70;
  height: 50px;
  box-sizing: border-box;
  padding: 10px 0;
  box-sizing: border-box;
  z-index: 100;
  background: #fff;
}

.SearchBoxContainer input {
  height: 100%;
  border: none;
  outline: none;
  padding-left: 15px;
  font-size: 20px;
}