
.CartItem {
  border-bottom: 1px solid #04253f;
}

.CartItemDescription {
  padding: 20px 0;
}

.CartImg {
  width: 100px;
  display: inline-block;
}

.ShoppingCartTitle {
  padding: 20px 0;
  font-weight: bold;
  font-size: 26px;
  color: #04253f;
}

.CartTable {
  border-collapse: collapse;
  width: 70%;
  margin: auto;
}

.CartTable th {
  border-top: 3px solid #04253f;
  border-bottom: 3px solid #04253f;
  padding: 5px 0;
}

.CartItemTitle{
  vertical-align: top;
  margin: auto;
  max-width: 200px;
}


@media(max-width: 500px) {

  .ShoppingCartTitle {
    font-size: 18px;
    padding: 0 0 10px 0;
  }

  .CartTable {
    margin: 0;
    width: 100%;
  }

  .CartTable th, .CartTable td {
    font-size: 12px;
  }

  .CartItemDescription {
    max-width: 80px;
  }

  .CartQty select {
    width: 30px;
    background-color: #fff;
    border: none;
  }

  .CartQty select::-ms-expand {
    display: none;
  } 
  


}