
footer {
  background-color: #c2bdb6;
  height: 100%;
}

.ServiceAndCompanyContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  margin: 40px auto;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 12px;
  font-weight: 400;
  box-sizing: border-box;
}

.Services, .Company {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  position: relative;
  height: 100%;
  padding-bottom: 70px;
  width: 100%;
}

.Services {
  margin-right: 40px;
}

.FooterTitles {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}

.FooterLists {
  display: inline-block;
  width: 50%;
  margin-top: 10px;
  vertical-align: top;
  text-transform: capitalize;
}

.FooterLists > li {
  margin: 5px;
}

.Copyright, .ContactInfo {
  position: absolute;
  bottom: 0;
}

.ContactInfo p {
  margin-top: 15px;
}

.Copyright {
  right: 0;
}

.SocialMediaContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px 0;
  background-color: #04253f;
  color: #fff;
}

aside {
  height: 135px;
  background-color: rgba(242, 242, 242, 1);
  color: #fff;
  display: flex;
  justify-content: center;
}

.EmailSubscription {
  height: 100%;
  width: 50%;
  max-width: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.EmailSubscription button {
  border: none;
  background-color: rgba(242, 242, 242, 1);
  color: #04253f;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
}

.EmailSubscription input {
  color: #04253f;
  width: 100%;
  outline:none;
  background-color: rgba(242, 242, 242, 1);
  border:none;
  border-bottom: 1px solid #04253f;
  padding-bottom: 5px;
  font-size: 16px;
  text-align: center;
}

.EmailSubscription input::placeholder {
  color: #04253f;
  opacity: 1;
  text-align: center;
}

.EmailSubscription input:-ms-input-placeholder {
  color: #04253f;
  text-align: center;
}

.EmailSubscription input::-ms-input-placeholder {
  color: #fff;
  text-align: center;
}

.EmailSubscription input:focus::placeholder {
  color: transparent;
}

.EmailSubscription input:focus::-ms-input-placeholder {
  color: transparent;
} 
.EmailSubscription input:focus:-ms-input-placeholder {
  color: transparent;
}

@media (max-width: 800px) {

  .EmailSubscription input, .EmailSubscription button {
    font-size: 13px;
  }

  aside {
    height: 100px;
  }

  .SocialMediaContainer {
    padding: 20px 0;
  }

  .SocialMediaContainer img {
    width: 70%;
  }

}

@media(max-width: 500px) {

  .ServiceAndCompanyContainer {
    flex-direction: column;
    width: 80%;
    margin: 30px auto;
  }

  .Services, .Company {
    margin-bottom: 40px;
  }

  .Services {
    margin-right: 0;
  }

  .EmailSubscription {
    width: 80%;
  }

}