.ProductText {
  margin-top: 30px;
}

.ProductPrice {
  margin-top: 10px;
  color: #00263e;
}

.ProductItem {
  border: 1px solid #00263e;
  margin-bottom: 20px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
}

.ProductItem:nth-child(3n) {
  margin-right: 0;
}

.ProductTitle {
  color: #00263e;
  text-transform: lowercase;
  text-transform: capitalize;
  font-size: 18px;
  width: 80%;
  justify-self: bottom;
  margin: auto;
}

.ProductSubTitle {
  color: #00263e;
}

.ProductList {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.ProductImage {
  max-width: 100%;
}

@media (max-width: 800px) {

  .ProductTitle, .ProductPrice, .ProductSubTitle {
    font-size: 13px;
  }

  .ProductItem {
    width: 300px;
  }

}

@media(max-width: 500px) {

  .ProductItem {
    width: 150px;
  }

}
